{% block content %}
<h1>Удалить пользователя:</h1>
<form action="post_delete_user" method="post">
    {% for user in users %}
        <p><input name="id" type="radio" checked value={{user.id}}><strong>Имя: {{user.firstname}}<br/>Фамилия: {{user.lastname}}</strong><br/><em>email: {{user.email}}</em><br/>Возраст: {{user.age}}</p>
    {% endfor %}
    <input type='button' onclick='window.location.reload()'  value ='Обновить' />
    <br/><br/>
    <input type="button" onclick="history.back()" value="Назад"/>
    <button onClick='location.href="post_delete_user"'>Удалить пользователя</button>
</form>
{% endblock %}