{% block content %}
<h1>Добавление нового пользователя</h1>
<form action="post_new_user" method="post">
    <p>Введите имя</p>
    <input required name="firstname" maxlength="25" size="40">
    <p>Введите фамилию</p>
    <input required name="lastname" maxlength="25" size="40">
    <p>Введите почту</p>
    <input required type="email" name="email" maxlength="25" size="40">
    <p>Введите возраст</p>
    <input required type="number" name="age" maxlength="25" size="40">
    <br/><br/>
    <input type="button" onclick="history.back()" value="Назад"/>
    <input name="sub" type="submit" value="Добавить пользователя" />
</form>
{% endblock %}