{% if res %}
    <h1>Пользователь удален!<h1>
{% else %}
    <h1>Error!<h1>
{% endif %}
<input type="button" onclick="history.back()" value="Назад"/>
<button onClick='location.href="users"'>Главная страница</button>