{% block content %}
<h1>Редактирование пользователя</h1>
<form action="post2_update_user" method="post">
        <input type="hidden" name="id" value={{user.id}}>
        <p>Имя</p>
        <p><input name='firstname' maxlength="25" size="40" value={{user.firstname}}></p>
        <p>Фамилия</p>
        <p><input name='lastname' maxlength="25" size="40" value={{user.lastname}}></p>
        <p>Email</p>
        <p><input type="email" name='email' maxlength="25" size="40" value={{user.email}}></p>
        <p>Возраст</p>
        <p><input type="number" name='age' maxlength="25" size="40" value={{user.age}}></p>
    <input type="button" onclick="history.back()" value="Назад"/>
    <button onClick='location.href="post2_update_user"'>Сохранить</button>
</form>
{% endblock %}