{% block content %}
{% if res==false %}
    <h1>Error!</h1>
{% else %}
    <h1>Пользователь изменен!<h1>
{% endif %}
<input type="button" onclick="history.back()" value="Назад"/>
<button onClick='location.href="users"'>Вернуться на главную страницу</button>
{% endblock %}