{% block content %}
<h1>Пользователи:</h1>
<div id="users">
    {% for user in users %}
    <div class="user">
    	<strong>Имя: {{user.firstname}}<br/>Фамилия: {{user.lastname}}</strong><br/><em>email: {{user.email}}</em><br/>Возраст: {{user.age}}
    </div>
    <br/>
    {% endfor %}
    <input type='button' onclick='window.location.reload()'  value ='Обновить' />
    <br/><br/>
    <button onClick='location.href="new_user"'>Добавить пользователя</button>
    <button onClick='location.href="delete_user"'>Удалить пользователя</button>
    <button onClick='location.href="update_user"'>Редактировать пользователя</button>
</div>
{% endblock %}